<div class="table-container mat-typography">

  <h2>Medios de pago</h2>

  <div class="table-header">
    <a mat-raised-button color="accent" routerLink="/sale/payment-method/detail/new">Crear</a>

  </div>

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef> Activo </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.active">
          done
        </mat-icon>
        <mat-icon *ngIf="!element.active">
          clear
        </mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef > Acciones </mat-header-cell>
      <mat-cell class="button-row" *matCellDef="let element">
        <button mat-icon-button routerLink="/sale/payment-method/detail/{{element.id}}">
          <mat-icon aria-hidden="true" title="Editar">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="delete(element)">
          <mat-icon aria-hidden="true" title="Eliminar">delete</mat-icon>
        </button>
       </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <mat-paginator
   [length]=paginatorOptions.length
   [pageSize]=paginatorOptions.pageSize
   [pageSizeOptions]=paginatorOptions.pageSizeOptions
   (page)="pageEvent($event)">
  </mat-paginator>
</div>
