<div class="form-container mat-typography">

  <h2>Cambiar contraseña</h2>

  <div class="table-header">

    <form [formGroup]="userForm" class="form" novalidate>

      <mat-form-field>
        <input matInput type="password" placeholder="Nueva contraseña" formControlName="password_new" required>
        <mat-error *ngIf="password_new.invalid && (password_new.dirty || password_new.touched)">
          Campo <strong>obligatorio</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Repita contraseña" formControlName="password_new_repeat" required>
        <mat-error *ngIf="password_new_repeat.invalid && (password_new_repeat.dirty || password_new_repeat.touched)">
          Campo <strong>obligatorio</strong>
        </mat-error>
      </mat-form-field>

      <div class="spacer"></div>
      <div class="button-row">
        <button mat-raised-button color="primary" type="submit" (click)="save()" [disabled]="userForm.invalid">Actualizar</button>
        <button mat-raised-button color="primary" type="reset" (click)="cancel()">Cancelar</button>
      </div>
    </form>

  </div>

</div>
